<div>
    <div>
        <h2>Importer une nouvelle liste ici </h2>
        <input type="file" id="name" name="libellé">
    </div>

    <div>
        <div>
            <h2>Faire un tirage</h2>
            <div>
                <input type="search" id="search" name="search" placeholder="Rechercher...">

            </div>
        </div>
        <div>
            <form action="" method="post ">
                <div>
                    <label for="select-choix ">Choisir une liste</label>
                    <select name="choix " id="select-choix ">
                        <option value=" ">Select liste</option>
                    </select>
                </div>
                <div>
                    <label for="number ">Donner un nombre</label>
                    <input type="number " id="number " name="number ">
                </div>
                <div>
                    <label for="name ">Donner un libellé</label>
                    <input type="name " id="name " name="name ">
                </div>
                <div>
                    <input type="submit " value="Trier ">
                </div>
            </form>
        </div>
    </div>

</div>