<main>
    <section>
    <table >
        <thead>La liste des Postulants</thead>
        <tbody>
            <th>N°</th> <th>Nom</th> <th>Prénom</th> <th>Email</th> <th>Numéro</th>
            <tr *ngFor="let tirage of tirages">
                <td> {{tirage.id_postulant}} </td>
                <td> {{tirage.nom_postulant}}</td>
                <td> {{tirage.prenom_postulant}}</td>
                <td> {{tirage.email_postulant}}</td>
                <td> {{tirage.numero_postulant}}</td>
            </tr>
        </tbody>

    </table>
   
</section>
</main>




 